<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uber App</title>
</head>
<body>
	<h2>Uber App</h2>
	<p>You are now authenticated within Uber.</p>
	<p><a href="/profile">Profile</a></p>
	<p><a href="/history">History</a></p>
	<p><a href="/logout">Logout</a></p>
</body>
</html>